@media screen and (min-width:900px) {
  .page-profile {
    width:70%;
  }
  .user-grid {
    grid-template-columns: repeat(2,1fr);
  }
  .progress-bar {
    flex: 1;
  }
  .music-footer__details {
    flex: 1;
  }
}

@media screen and (min-width:1200px) {
  .page-profile {
    width:40%;
    gap:50px;
  }
  .user-grid {
    grid-template-columns: repeat(2,1fr);
  }
}
