.active-status {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px;
  width:100%;
}
.active-status__id {
  font-size: 20px;
  font-weight: 500;
}

.active-status__picture {
  width:70px;
  height:70px;
  object-fit: cover;
  border-radius: 100%;
}
.active-status__details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.active-status__last-active {
  font-size: 14px;
  color: rgb(211, 207, 207);
}